@import 'tailwindcss';

:root {
	font: system-ui, 'Segoe UI', Roboto, sans-serif;
	color: black;
}

/* These are used as general overwrites when not using tailwind */
/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */
